<%= form_for(@deck,multipart: true) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>デッキの名前を入力してね</h4>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <h4>デッキデータ（〜.ydk）ファイルを選択してね</h4>
    <%= f.file_field :ydk %>
  </div>
  <div class="actions">
    <%= f.submit "デッキ作成" ,:class => "btn btn-primary"%>
  </div>
<% end %>
